<main>
  <div class="d-flex box-titulo-busca">
    <h1>MEGA SENA</h1>
  </div>
  <div class="box-resultados">
    <div class="resultados-desktop">
      <div class="d-flex busca-concurso">
        <input id="n-concurso" type="text" placeholder="Buscar por concurso" />
        <button (click)="buscarConcurso()" class="btn-buscar">Buscar</button>
      </div>
      <div class="d-flex concurso-data">
        <h2>
          Concurso: <span>{{ megasena.numero }}</span>
        </h2>
        <h2>
          Data do Sorteio: <span>{{ megasena.dataApuracao }}</span>
        </h2>
      </div>
    </div>
    <div class="d-flex box-dezenas-ganhadores">
      <div class="box-dezenas-desktop">
        <!-- DEZENAS SORTEADAS -->
        <div class="d-flex dezenas-ganhadores">
          <h2 class="titulo-dezenas">Dezenas Sorteadas</h2>
          <div class="d-flex numeros-sorteados">
            <!-- SPINNER -->
            <div
              *ngIf="spinner"
              class="d-flex justify-content-center spinner-posicao"
            >
              <div
                class="spinner-border spinner-estilo"
                style="width: 3rem; height: 3rem"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <!-- SPINNER -->
            <ng-container *ngFor="let numeros of megasena.listaDezenas">
              <p>{{ numeros }}</p>
            </ng-container>
          </div>
        </div>
        <!-- PREMIO -->
        <div class="dezenas-ganhadores ganhadores">
          <h2 class="titulo-dezenas">Premiação</h2>
          <!-- SPINNER -->
          <div
            *ngIf="spinner"
            class="d-flex justify-content-center spinner-posicao"
          >
            <div
              class="spinner-border spinner-estilo"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <!-- SPINNER -->
          <ng-container *ngFor="let premios of megasena.listaRateioPremio">
            <div class="info-ganhadores">
              <p>{{ premios.descricaoFaixa }}</p>
              <p *ngIf="premios.numeroDeGanhadores !== 0; else semGanhadores">
                {{ premios.numeroDeGanhadores }}
                <span *ngIf="premios.numeroDeGanhadores === 1; else ganhadores"
                  >ganhador</span
                >
                <ng-template #ganhadores>ganhadores</ng-template> - <strong>{{ premios.valorPremio }}</strong>
              </p>
              <ng-template #semGanhadores><p>-</p></ng-template>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- MAIS INFORMAÇÕES -->
      <div class="dezenas-ganhadores ganhadores info-desktop">
        <!-- INFORMAÇÕES DO CONCURSO -->
        <div class="maisInfo-desktop">
          <h2 class="titulo-dezenas">Informações do Concurso</h2>
          <div class="info-ganhadores info-concurso">
            <label>Município vencedor</label>
            <ng-container
              *ngFor="let infoConcurso of megasena.listaMunicipioUFGanhadores"
            >
              <p>{{ infoConcurso.municipio }} - {{ infoConcurso.uf }}</p>
            </ng-container>
          </div>
          <div class="info-ganhadores info-concurso">
            <label>Arrecadação Total</label>
            <p>{{ megasena.valorArrecadado | number: '0,00' }}</p>
          </div>
          <div class="info-ganhadores info-concurso">
            <label>Acumulado para Sorteio Especial</label>
            <p>{{ megasena.valorAcumuladoConcursoEspecial }}</p>
          </div>
        </div>
        <!-- PRÓXIMO CONCURSO -->
        <div class="maisInfo-desktop">
          <h2 class="titulo-dezenas proximo-concurso">Próximo Concurso</h2>
          <div class="info-ganhadores info-concurso">
            <label>Número</label>
            <p>{{ megasena.numeroConcursoProximo }}</p>
          </div>
          <div class="info-ganhadores info-concurso">
            <label>Data</label>
            <p>{{ megasena.dataProximoConcurso }}</p>
          </div>
          <div class="info-ganhadores info-concurso">
            <label>Estimativa de prêmio</label>
            <p>{{ megasena.valorEstimadoProximoConcurso }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
