@import '../resultados.component.scss';

.box-titulo-busca {
  background: $color-megasena;
  color: #fff;
  border: 1px solid $color-megasena;
}

.box-resultados .box-dezenas-ganhadores .dezenas-ganhadores {
  border: 1px solid $color-megasena;
  align-items: center;
}

.numeros-sorteados {
  width: 24rem;
  justify-content: space-evenly !important;

  p {
    border: 1px solid $color-megasena;
    background: $color-megasena;
    color: #fff;
  }

  @include fromMediumLarge {
    width: 32rem;
  }
}
