.background-resultados {
  background: linear-gradient(123.97deg, #0065B7 0%, #1591B3 100%);
  height: 100vh;
}

.fundo-header {
  width: 100vw;
  height: 8rem;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4.7rem;
    color: #000066;
    margin: 0 0 0 4rem;
  }

  .loteria-links {
    align-items: center;
    justify-content: space-between;
    margin-right: 4rem;
    width: 30%;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;

    .link-lotofacil {
      height: 8rem;
      width: 13rem;
      background: #930989;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .lotofacil {
      color: #FFFFFF;
    }

    .lotomania {
      font-size: 2rem;
      color: #000066;
      // border: 1px solid #F78100;
    }

    .quina {
      font-size: 2rem;
      color: #000066;
      // border: 1px solid #260085;
    }

    .megasena {
      font-size: 2rem;
      color: #000066;
      // border: 1px solid #209869;
    }
  }

}

.box-titulo-busca {
  background: #FFFFFF;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 4rem;
  height: 12rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;

  .concurso-data {
    margin-left: 6rem;

    h2 {
      color: #000066;
      text-align: center;
      padding: 0 2rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }

    span {
      padding-left: .5rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  .busca-concurso {
    margin-right: 6rem;

    input {
      border: 1px solid #D9D9D9;
      width: 24rem;
      height: 4rem;
    }

    input::placeholder {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2rem;
      color: #D9D9D9;
    }

    .btn-buscar {
      margin-left: 1rem;
      width: 12rem;
      height: 4rem;
      background: #F7941E;
      border: 1px solid #F7941E;
      border-radius: 2.5rem;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2rem;
      color: #FFFFFF;
    }
  }
}

.box-resultados {
  height: 80rem;
  margin: 0 4rem;
  background: #FFFFFF;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;

  .selecao-jogos {
    padding: 7rem 6rem;

    .btn-selecao {
      width: 18rem;
      height: 5rem;
      border-radius: 2.5rem;
      font-weight: 500;
      margin-right: 3rem;
      color: #000066;
      font-size: 2rem;
      line-height: 2.3rem;
      background: transparent;
    }
  }



  .box-dezenas-ganhadores {
    margin: 0 6rem;
    justify-content: space-between;

    .dezenas-ganhadores {
      flex-direction: column;
      border: 1px solid #C4C4C4;
      border-radius: 10px;
      box-sizing: border-box;
      margin-top: 2.5rem;
      width: 40vw;
      height: 45rem;
    }

    .dezenas-sorteadas {



      .numeros-sorteados {
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
        height: 100%;
        margin: 3rem 6rem;

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 6rem;
          height: 6rem;
          margin: 0 3rem 2rem 0;
          padding: 2rem;
          font-weight: 700;
          font-size: 2rem;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.493);
          color: #fff;
          background: #930989;
        }
      }
    }

    .ganhadores {
      h2 {
        margin: 4rem 0 6rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
        color: #000066;
        text-align: center;
      }
    }

  }
}
