@import '../resultados.component.scss';

.box-titulo-busca {
  background: $color-quina;
  color: #fff;
  border: 1px solid $color-quina;
}

.box-resultados .box-dezenas-ganhadores .dezenas-ganhadores {
  border: 1px solid $color-quina;
}

.numeros-sorteados p {
  border: 1px solid $color-quina;
  background: $color-quina;
  color: #fff;
}