@import '../resultados.component.scss';

.box-titulo-busca {
  background: $color-lotofacil;
  color: #fff;
  border: 1px solid $color-lotofacil;
}

.box-resultados .box-dezenas-ganhadores .dezenas-ganhadores {
  border: 1px solid $color-lotofacil;
}

.numeros-sorteados {
  margin: 1.5rem;

  p {
    border: 1px solid $color-lotofacil;
    background: $color-lotofacil;
    color: #fff;
  }
}
